/.vscode
/node_modules
/build
/modules/DevPackages
/packages/**/node_modules
/packages/**/wally.lock
/packages/**/README.md
/packages/**/LICENSE.md
/sourcemap.json
*.tsbuildinfo
*.tgz
*.rbxm
.DS_Store
