name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Aftman
        uses: ok-nick/setup-aftman@v0.4.2

      - name: Install dependencies
        run: wally install

      - name: Build model
        run: rojo build -o charm.rbxm

      - name: Upload release
        uses: softprops/action-gh-release@v2
        if: ${{ github.event.release }}
        with:
          files: charm.rbxm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
